.banner {
    background: #7fce82;
    z-index: 14;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20vh;
        background: linear-gradient(to top, #7fce82, transparent);
        @media screen and (max-width: 768px) {
            height: 10vh;
        }
    }

    .family {
        position: absolute;
        bottom: 0;
        left: 0%;
        top: 0;
        right: 0;
        // transform: translate(-50%, 0%);
        height: 100%;
        width: 100%;
        opacity: 0.1;
        // filter: grayscale(1) opacity(0.5);
        @media screen and (max-width: 768px) {
            // width: 100/ translate(-50%, -50%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .imagex {
        width: auto;
        height: 80vh;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 20vh;
            background: linear-gradient(to top, #7fce82, transparent);
            @media screen and (max-width: 768px) {
                height: 10vh;
            }
        }

        @media screen and (max-width: 768px) {
            height: 60vh;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                object-fit: cover;
            }
        }
    }

    .titlex {
        position: absolute;
        left: 50%;
        top: 20%;
        text-align: center;

        transform: translate(-50%, -50%);
        @media screen and (max-width: 768px) {
            width: 90%;
            top: 27%;
        }
        h2 {
            font-family: "Lato";
            font-size: 4rem;
            line-height: 4rem;
            font-weight: 900;
            color: #4f8410;
            text-shadow: 1px 1px black;
            filter: hue-rotate(45deg);
            @media screen and (max-width: 768px) {
                // font-size: 2.3rem;
                // line-height: 2.3rem;
                // font-size: 4.2rem;
                // line-height: 4rem;
            }
        }
    }
}
