.data {
    // background: #009688;
    // background: #4caf50;
    .syl-img {
        position: absolute;
        bottom: 0;
        width: 40%;
        height: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        @media screen and (max-width: 768px) {
            width: 100%;
            transform: translate(-50%, -50%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                object-fit: cover;
            }
        }
    }

    .mb-80 {
        height: 50vh;
        position: relative;
    }
}

.leftx {
    width: 50%;
    @media screen and (max-width: 768px) {
        width: 75%;
    }
}

.rightx {
    width: 50%;
    // float: right;
    position: absolute;
    right: 0;
    @media screen and (max-width: 768px) {
        width: 75%;
    }
}

.lihat-naskah {
    background: #7fce82;
    position: relative;
    z-index: 10;
    a  {
        color: white !important;
        div {
        }
        &:hover {
            text-decoration: none;
        }
    }

    .imgx {
        width: 200px;
        height: auto;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .judulx {
        color: black !important;
        display: inline-block;
        text-decoration: underline;
        // margin-left: 16px;
    }
}
